[user]
    name = Julien Thewys
    email = julien.thewys@gmail.com


[color]
    diff = auto
    status = auto
    branch = auto

[alias]
    ci = commit
    di = diff
    st = status
    tip = log -1
    top = log -10 --format='%h: %an %ai %s'
[push]
    default = matching

