[user]
	name = Julien Thewys
	email = julien.thewys@gmail.com

[color]
	diff = auto
	status = auto
	branch = auto

[alias]
	ci = commit
	di = diff --color-words
	st = status
	tip = log -1
	top = log -10 --format='%h: %an %ai %s'
	lol = log --oneline --decorate --graph -n 20

	; Clone the project you want to watch, and type git ribbon to initialize the ribbon marker.
	; Now whenever you fetch or pull, use git catchup to read up on the latest changes in the origin/master branch.
	; After you are done reading, update the ribbon marker with git ribbon.
	ribbon = tag --force _ribbon origin/master
	catchup = log --patch --reverse --topo-order _ribbon..origin/master

	please = push --force-with-lease
	commend = commit --amend --no-edit
	it = !git init && git commit -m "root" --allow-empty

	# list branches sorted by last modified
	b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"

    # most recently-used branches https://ses4j.github.io/2020/04/01/git-alias-recent-branches/
    lb = !git reflog show --pretty=format:'%gs ~ %gd' --date=relative | grep 'checkout:' | grep -oE '[^ ]+ ~ .*' | awk -F~ '!seen[$1]++' | head -n 10 | awk -F' ~ HEAD@{' '{printf(\"  \\033[33m%s: \\033[37m %s\\033[0m\\n\", substr($2, 1, length($2)-1), $1)}'

	# https://bitbucket.org/tpettersen/git-aliases
	alias = "!f() { \
		  if [ \"$#\" -ne 2 ]; then { echo >&2 \"Usage: git alias <name> <command>\"; exit 1; } fi; \
		  git config --global alias.\"$1\" \"$2\"; \
		}; f"
	serve = daemon \
		--reuseaddr \
		--verbose \
		--base-path=. \
		--export-all \
		./.git;
	stsh = stash --keep-index
	staash = stash --include-untracked
	staaash = stash --all

	# ignore files from diff
	dix = "!f() { \
			if [ \"$#\" -lt 2 ]; then \
				if [ \"$#\" -eq 1 ] && git config --get remote.origin.url | grep -q odoo; then \
					ignore=\"*/i18n\"; \
				else \
					echo >&2 \"Usage: git dix <ref> <dirname to ignore>\"; \
					exit 1; \
				fi; \
			else \
				ignore=$2; \
			fi; \
			git diff \"$1\" -- ${GIT_PREFIX:-.} ':(exclude)'\"$ignore\"'/*'; \
		}; f"
	co = checkout
	pushf = push --force-with-lease

[push]
	default = simple
    followTags = true
    autoSetupRemote = true

#[http]
#	proxy = thewyju:abcd1234@147.67.138.13:8012
#	proxy = socks5://127.0.0.1:1080
#[https]
#	proxy = socks5://127.0.0.1:1080
#[core]
#	gitproxy = gitproxy.sh
[url "https://github.com/"]
	insteadOf = git://github.com/
[core]
	pager = less -x1,5
	editor = vim
	excludesfile = ~/.gitignore_global
[credential]
	helper = cache
[pull]
	rebase = true
[rebase]
    autosquash = true
[rerere]
	enabled = true
[gpg]
	format = ssh
