[user]
	name = Julien Thewys
	email = julien.thewys@gmail.com

[color]
	diff = auto
	status = auto
	branch = auto

[alias]
	ci = commit
	di = diff --color-words
	st = status
	tip = log -1
	top = log -10 --format='%h: %an %ai %s'
	lol = log --oneline --decorate --graph -n 15

	; Clone the project you want to watch, and type git ribbon to initialize the ribbon marker.
	; Now whenever you fetch or pull, use git catchup to read up on the latest changes in the origin/master branch.
	; After you are done reading, update the ribbon marker with git ribbon.
	ribbon = tag --force _ribbon origin/master
	catchup = log --patch --reverse --topo-order _ribbon..origin/master

	please = push --force-with-lease
	commend = commit --amend --no-edit
	it = !git init && git commit -m "root" --allow-empty
	# list branches sorted by last modified
	b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"

[push]
	default = matching

#[http]
#	proxy = thewyju:abcd1234@147.67.138.13:8012
#	proxy = socks5://127.0.0.1:1080
#[https]
#	proxy = socks5://127.0.0.1:1080
#[core]
#	gitproxy = gitproxy.sh
[url "https://github.com/"]
	insteadOf = git://github.com/
[core]
	pager = less -x1,5
	editor = vim
